<div class="project p-5">
    <div class="container">
        <div class="cras text-center">
            <h2 class="text-bold">Cras ornare tristique elit</h2>
            <p>Donec odio uisque volutpat mattis eros ullam maleasuada erat ut turpis</p>
        </div>
        <div class="arrows">
            <div class="row pt-lg-5">
               <hr class="line">              
                <div class="text-center">
                    <a href="#" class="lftarw fa fa-arrow-left "></a>
                    <a href="#" class="rtarw fa fa-arrow-right"></a>
                </div>
                <hr class="line">                
            </div>            
        </div>
        <div class="images pt-lg-5">
            <div class="row">
                <!--image-1-->
                <div class="col-12 col-md-6 col-lg-3 mt-3 mt-lg-0">
                    <img src="../../assets/images/lemon-1.jpg" alt="image-" class="img-fluid">
                </div>
                <!--image-2-->
                <div class="col-12 col-md-6 col-lg-3 mt-3 mt-lg-0">
                    <img src="../../assets/images/lemon-2.jpg" alt="image-" class="img-fluid">
                </div>
                <!--image-3-->
                <div class="col-12 col-md-6 col-lg-3 mt-3 mt-lg-0">
                    <img src="../../assets/images/lemon-3.jpg" alt="image-" class="img-fluid">
                </div>
                <!--image-4-->
                <div class="col-12 col-md-6 col-lg-3 mt-3 mt-lg-0">
                    <img src="../../assets/images/lemon-4.jpg" alt="image-" class="img-fluid">
                </div>
            </div>
            
        </div>
        <div class="portfolio text-center pt-5 mb-5"><a href="">View Portfolio</a></div>
    </div>
</div>
