/*
:root {
  --colorMain: #c0c0c0;
  --brShadow: -6px 6px 15px rgba(0,0,0,0.5);
  --tlShadow: 6px -6px 15px rgba(255,255,255,0.8);
}
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a,
a:hover {
  text-decoration: none; }

ul {
  list-style-type: none; }

/*
:root {
  --colorMain: #c0c0c0;
  --brShadow: -6px 6px 15px rgba(0,0,0,0.5);
  --tlShadow: 6px -6px 15px rgba(255,255,255,0.8);
}
*/
html,
body {
  position: relative;
  width: 100%;
  overflow-x: hidden; }

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serif; }

.logo {
  max-width: 20%; }

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%; }

.nav-links a {
  text-transform: capitalize;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 3px;
  color: #000; }

.burger {
  display: none;
  cursor: pointer; }
  .burger div {
    width: 22px;
    height: 3px;
    margin: 4px;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all ease 0.3s; }
    .burger div:nth-child(2) {
      margin: 0 4px; }

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%; } }
@media screen and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden; }

  .nav-links {
    position: absolute;
    top: 8vh;
    right: 0px;
    height: 30vh;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in; }
    .nav-links li {
      opacity: 0; }

  .burger {
    display: block; } }
.nav-active {
  transform: translateX(0%); }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px); }
.toggle .line2 {
  opacity: 0; }
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px); }

.contact_heading {
  text-align: center; }
  .contact_heading h3 {
    padding-bottom: 0px;
    margin-bottom: 0px; }
  .contact_heading small {
    position: relative; }
    .contact_heading small::after {
      content: "";
      width: 18px;
      height: 2px;
      background-color: #232323;
      right: -24px;
      top: 50%;
      position: absolute; }
    .contact_heading small::before {
      content: "";
      width: 18px;
      height: 2px;
      background-color: #232323;
      left: -24px;
      top: 50%;
      position: absolute; }

p.name_icon i {
  font-size: 1.5rem; }

p.get_in_name span {
  font-size: 0.75rem; }

.lble label {
  font-size: 0.875rem; }
.lble input {
  height: 36px; }

.sub_btn input {
  width: 20%;
  font-size: 0.875rem; }

.social_links a {
  font-size: 20px;
  color: black;
  margin: 5px; }

.or {
  padding-left: 60px; }
  .or span {
    position: relative; }
    .or span::after {
      content: "";
      width: 24px;
      height: 1px;
      background-color: #232323;
      right: -30px;
      top: 50%;
      position: absolute; }
    .or span::before {
      content: "";
      width: 24px;
      height: 1px;
      background-color: #232323;
      left: -30px;
      top: 50%;
      position: absolute; }

/*# sourceMappingURL=main.css.map */
