// fontfamily
$font: "Poppins", sans-serif;

//font-size
$f12: 0.75rem; // 12px;
$f14: 0.875rem; //14px;
$f16: 1rem; // 16px;
$f24: 1.5rem; //24px;
$f26: 1.625rem; // 26px;
$f32: 2rem; //32px;

// colors
$colorLightWhite: #f3f2ef;
$colorWhite: #ffffff;
$colorBlack: #000;
$colorLightBlack: rgba(0, 0, 0, 0.7);
$colorCyan: #07a1b5;

/*
:root {
  --colorMain: #c0c0c0;
  --brShadow: -6px 6px 15px rgba(0,0,0,0.5);
  --tlShadow: 6px -6px 15px rgba(255,255,255,0.8);
}
*/
