// fontfamily
$font: "Roboto", sans-serif;

//font-size
$f12: 0.75rem; // 12px;
$f14: 0.875rem; //14px;
$f16: 1rem; // 16px;
$f24: 1.5rem; //24px;
$f26: 1.625rem; // 26px;
$f32: 2rem; //32px;

// colors
$colorWhite: #fff;
$colorBlack: #000;
$scondaryColor: #07a1b5;
$bgColor: rgba(1, 36, 41, 0.2);
