<div class="contact py-5">
    <div class="container">
        <div class="text-center donec pb-4">
            <h2 class="font-weight-bold">Cras ornare tristique elit</h2>
            <p>Donec odio uisque volutpat mattis eros ullam malesuada erat ut turpis.</p>
        </div>
        <!--subscribe-->
        <div class="row pt-5">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-2 fa fa-envelope enve pr-lg-0 mr-lg-0"></div>
                    <div class="col-10 pl-lg-0">
                        <span class="font-weight-bold">Subscribe our newsletter</span><br>
                        <small>via email on how to grow your business online</small>
                    </div>
                </div>
                <div class="sub py-4">
                    <input type="text">
                    <button class="font-weight-bold mt-2 mt-lg-0">Sign up</button>
                </div>
            </div>
            <!--twitter-->
            <div class="col-12 col-md-6">
                <div class="row twitter">
                    <div class="col-2 fa fa-twitter twi p-4"></div>
                    <div class="col-10">
                        <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis  euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat  @johndoe</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
















