<div class="blog py-5">
    <div class="container">
        <div class="row">
            <!--avatar-1-->
            <div class="col-12 col-md-6 row">
                <div class="col-4">
                    <img src="../../assets/images/avatar1.jpg" alt="avatar-1" class="img-fluid">
                </div>
                <div class="col-8">
                    <h5 class="font-weight-bold py-3">Integer vitae libero</h5>
                    <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna         eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt lorem ipsuk dolor
                    </p>
                </div>
            </div>
            <!--avatar-2-->
            <div class="col-12 col-md-6 row">
                <div class="col-4">
                    <img src="../../assets/images/avatar2.jpg" alt="avatar-1" class="img-fluid">
                </div>
                <div class="col-8">
                    <h5 class="font-weight-bold py-3">Vestibulum commodo</h5>
                    <p>Lorem dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor 
                    </p>
                </div>
            </div>    
        </div>
        <!--2nd row-->
            <div class="row mt-4">
                <div class="col-12 col-md-6 row">
                    <!--avatar-3-->
                    <div class="col-4">
                        <img src="../../assets/images/avatar3.jpg" alt="avatar-1" class="img-fluid">
                    </div>
                    <div class="col-8">
                        <h5 class="font-weight-bold py-3">Fusce pellentesque</h5>
                        <p>Cations t dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus 
                        </p>
                    </div>
                </div>
                <!--avatar-4-->
                <div class="col-12 col-md-6 row">
                    <div class="col-4">
                        <img src="../../assets/images/avatar4.jpg" alt="avatar-1" class="img-fluid">
                    </div>
                    <div class="col-8">
                        <h5 class="font-weight-bold py-3">Donec quis dui dolor</h5>
                        <p>Sumitris dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus 
                        </p>
                    </div>
                </div>    
        </div>
    </div>
</div>
